a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.p-sidebar {
  margin-top: 85px;
}

.navbar-top {
  border-bottom: 6px solid #ef8b22;
  height: 85px;
}

#img-logo {
  width: 100%;
}

.div-logo {
  max-width: 120px;
}

@media (max-width: 576px) {
  .p-sidebar {
    max-width: 280px;
  }
}

@media (max-width: 350px) {
  .div-logo {
    max-width: 90px;
  }
}


@media (min-width: 576px) {
  .p-sidebar {
    max-width: 280px;
  }
  .div-logo {
    max-width: 160px;
  }
}

@media (min-width: 1200px) {
  .gerenciador-content {
    padding-left: 320px;
  }
  .p-sidebar {
    max-width: 320px;
  }
}

.p-megamenu-submenu, .p-menuitem, .p-menuitem-text {
  font-size: 16px;
}

#btn-logout {
  bottom: 5px;
  left: 10px;
}

@media (max-height: 600px) {
  .p-sidebar .p-sidebar-header {
    padding: 0.2rem 0 !important;
  }
  #btn-logout {
    bottom: 10px;
    left: 165px;
  }
}

.p-panelmenu {
  min-height: 620px;
}
